<% _t = t.v.moderations.aside %>
<div id="sidebar-wrapper-right" class="sidebar-wrapper sidebar-wrapper-right crayons-layout__sidebar-right">
  <div id="quick-stat-card" class="crayons-card">
    <div class="crayons-card__body mod-saying-hello">
      <p class="fw-medium fs-2xl"><%= _t.hello %></p>
      <p>
        <%= _t.thanks community: Settings::Community.community_name %>
      </p>
    </div>
  </div>
</div>
