@import './site_colors';
////////////////////////////////////////////////////////////////////////////////////
// Colors. /////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
//
// All --base-* and --accent-* color variables will be used to generate
// Utility-First Classes/ (see config/import.scss & base/colors.scss for
// reference). Other color variables are more functional and define usage
// of particular colors in components and views.

:root {
  ////////////////////////////////////////////////////////////////////////////////////
  // Fundamental color variables. ///////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////

  // Base
  --base: #{nth($base-colors, 1)};

  --base-a90: #{rgba(nth($base-colors, 1), 0.9)};
  --base-a80: #{rgba(nth($base-colors, 1), 0.8)};
  --base-a70: #{rgba(nth($base-colors, 1), 0.7)};
  --base-a60: #{rgba(nth($base-colors, 1), 0.6)};
  --base-a50: #{rgba(nth($base-colors, 1), 0.5)};
  --base-a40: #{rgba(nth($base-colors, 1), 0.4)};
  --base-a30: #{rgba(nth($base-colors, 1), 0.3)};
  --base-a20: #{rgba(nth($base-colors, 1), 0.2)};
  --base-a10: #{rgba(nth($base-colors, 1), 0.1)};
  --base-a5: #{rgba(nth($base-colors, 1), 0.05)};

  --base-100: var(--base);
  --base-90: #{mix(append($base-colors, 90%)...)};
  --base-80: #{mix(append($base-colors, 80%)...)};
  --base-70: #{mix(append($base-colors, 70%)...)};
  --base-60: #{mix(append($base-colors, 60%)...)};
  --base-50: #{mix(append($base-colors, 50%)...)};
  --base-40: #{mix(append($base-colors, 40%)...)};
  --base-30: #{mix(append($base-colors, 30%)...)};
  --base-20: #{mix(append($base-colors, 20%)...)};
  --base-10: #{mix(append($base-colors, 10%)...)};
  --base-5: #{mix(append($base-colors, 5%)...)};
  --base-0: #{mix(append($base-colors, 0%)...)};
  --base-inverted: #fff;

  // Accent colors
  --accent-brand: #{$brand};
  --accent-brand-darker: #{scale-color(
      $brand,
      $saturation: 20%,
      $lightness: -20%
    )};
  --accent-brand-lighter: #{scale-color(
      $brand,
      $saturation: -20%,
      $lightness: 20%
    )};
  --accent-brand-a10: #{rgba($brand, 0.1)};

  // Success
  --accent-success: #1457fc;
  --accent-success-darker: #1045c9;
  --accent-success-lighter: #608dfd;
  --accent-success-a10: #{rgba(#1457fc, 0.1)};

  // Warning
  --accent-warning: #ffcf4c;
  --accent-warning-darker: #f5b400;
  --accent-warning-lighter: #ffe499;
  --accent-warning-a10: #{rgba(#ffcf4c, 0.1)};

  // Danger
  --accent-danger: #d31616;
  --accent-danger-darker: #b90909;
  --accent-danger-lighter: #ec4646;
  --accent-danger-a10: #{rgba(#dc1818, 0.1)};

  ////////////////////////////////////////////////////////////////////////////////////
  // Functional color variables. /////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////

  // Main colors
  // image from https://www.transparenttextures.com/nice-snow.html
  --body-bg: #{image-url('nice-snow.png')} #{nth($theme-colors, 2)};
  --body-color: var(--base-100);
  --body-color-inverted: var(--base-inverted);

  // Main content containers
  --card-bg: var(--base-0);
  --card-color: var(--base-100);
  --card-color-secondary: var(--base-70);
  --card-color-tertiary: var(--base-60);
  --card-secondary-bg: var(--base-5);
  --card-secondary-color: var(--base-90);
  --card-headline-color: var(--base-100);
  --card-border: var(--base-20);
  --card-secondary-border: var(--base-a20);
  --card-hover-bg: var(--base-10);
  --card-selected-bg: var(--base-20);
  --card-info-bg: #{rgba($brand, 0.1)};

  // Header
  --header-bg: #{nth($theme-colors, 1)};
  --header-bg-hover: var(--base-10);
  --header-button-focus-color: var(--accent-brand);
  --header-bg-current: var(--accent-brand-lighter);
  --header-shadow: rgba(0, 0, 0, 0.1);

  // Footer
  --footer-bg: var(--base-20);
  --footer-color: var(--base-80);

  // Links
  --link-bg-hover-alt: var(--base-0);
  --link-color-current: var(--base-100);
  --link-color-secondary: var(--base-60);
  --link-color-secondary-hover: var(--base-70);
  --link-bg-current: var(--base-inverted);

  // Primary buttons
  --button-primary-bg: var(--accent-brand);
  --button-primary-bg-hover: var(--accent-brand-darker);
  --button-primary-color: var(--base-0);
  --button-primary-color-hover: var(--base-0);
  //-- Inverted
  --button-primary-inverted-bg: var(--accent-brand);
  --button-primary-inverted-bg-hover: var(--accent-brand-darker);
  --button-primary-inverted-color: var(--base-0);
  --button-primary-inverted-color-hover: var(--base-0);

  // Secondary buttons
  --button-secondary-bg: var(--base-a20);
  --button-secondary-bg-hover: var(--base-a30);
  --button-secondary-color: var(--base-80);
  --button-secondary-color-hover: var(--base-100);

  // Outlined buttons
  --button-outlined-bg: transparent;
  --button-outlined-bg-hover: rgba(0, 0, 0, 0.035);
  --button-outlined-border: var(--base-20);
  --button-outlined-border-hover: var(--base-40);
  --button-outlined-color: var(--base-80);
  --button-outlined-color-hover: var(--base-100);

  // Ghost buttons
  --button-ghost-bg: transparent;
  --button-ghost-bg-hover: rgba(0, 0, 0, 0.035);
  --button-ghost-color: var(--base-80);
  --button-ghost-color-hover: var(--base-100);
  --button-ghost-dimmed-color: var(--base-60);
  --button-ghost-dimmed-color-hover: var(--base-100);
  //-- Inverted
  --button-ghost-inverted-bg: transparent;
  --button-ghost-inverted-bg-hover: rgba(255, 255, 255, 0.15);
  --button-ghost-inverted-color: var(--base-30);
  --button-ghost-inverted-color-hover: var(--base-10);
  --button-ghost-dimmed-inverted-color: var(--base-50);
  --button-ghost-dimmed-inverted-color-hover: var(--base-100);

  // Forms
  --form-bg: var(--base-inverted);
  --form-bg-focus: var(--base-inverted);
  --form-border: var(--base-20);
  --form-border-hover: var(--base-40);
  --form-border-focus: var(--accent-brand);
  --form-placeholder-color: var(--base-60);

  // Form labels
  --label-primary: var(--base-90);
  --label-secondary: var(--base-60);

  // Snackbars
  --snackbar-bg: var(--base-90);
  --snackbar-color: var(--body-color-inverted);

  // Tabs
  --tab-color: var(--base-80);
  --tab-color-hover: var(--accent-brand);
  --tab-color-current: var(--base-100);
  --tab-bg-hover: var(--accent-brand-a10);
  --tab-bg-current: var(--accent-brand);

  // Tags
  --tag-color: var(--base-60);
  --tag-color-hover: var(--base-100);
  --tag-bg: rgba(var(--grey-900), 0.05);
  --tag-bg-hover: rgba(var(--grey-900), 0.05);
  --tag-prefix: rgba(var(--grey-900), 0.6);
  --tag-prefix-hover: rgb(var(--grey-900));

  // Story
  --story-comments-bg: 249, 249, 249;
  --story-comments-bg-top: rgba(var(--story-comments-bg), 0);
  --story-comments-bg-bottom: rgba(var(--story-comments-bg), 1);

  // Select icon
  --select-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE2TDYgMTBIMThMMTIgMTZaIiBmaWxsPSIjMDgwOTBBIi8+Cjwvc3ZnPg==);

  // Reactions
  --reaction-like-color: var(--accent-danger);
  --reaction-like-bg: var(--accent-danger-a10);
  --reaction-custom-color: var(--accent-success);
  --reaction-custom-bg: var(--accent-success-a10);
  --reaction-save-color: var(--accent-brand);
  --reaction-save-bg: var(--accent-brand-a10);
  --reaction-comment-color: var(--accent-warning);
  --reaction-comment-bg: var(--accent-warning-a10);

  /* Code */
  --code-inline-bg: rgb(var(--black), 0.1);

  /* Onboarding suggested people */
  --content-row-hover-bg: rgb(var(--grey-100));
}

:root {
  // Separating some variables here as these are the results
  // of broader Crayons refactoring (see #15311) and I didn't
  // want to mix everything together.

  ////////////////////////////////////////////////
  // Buttons /////////////////////////////////////
  ////////////////////////////////////////////////

  // Buttons: Default
  --btn-bg: transparent;
  --btn-bg-hover: var(--accent-brand-a10);
  --btn-color: var(--base-80);
  --btn-color-hover: var(--accent-brand-darker);

  --btn-current-bg: var(--base-20);
  --btn-current-color: var(--base-100);

  // Buttons: Primary
  --btn-primary-bg: var(--accent-brand);
  --btn-primary-bg-hover: var(--accent-brand-darker);
  --btn-primary-color: var(--base-inverted);
  --btn-primary-color-hover: var(--base-inverted);

  // Buttons: Secondary
  --btn-secondary-bg: var(--accent-brand-a10);
  --btn-secondary-bg-hover: var(--accent-brand);
  --btn-secondary-color: var(--accent-brand);
  --btn-secondary-color-hover: var(--base-inverted);

  // Buttons: Destructive Default
  --btn-destructive-bg: transparent;
  --btn-destructive-bg-hover: var(--accent-danger-a10);
  --btn-destructive-color: var(--accent-danger);
  --btn-destructive-color-hover: var(--accent-danger-darker);

  // Buttons: Destructive Primary
  --btn-primary-destructive-bg: var(--accent-danger);
  --btn-primary-destructive-bg-hover: var(--accent-danger-darker);
  --btn-primary-destructive-color: var(--base-inverted);
  --btn-primary-destructive-color-hover: var(--base-inverted);

  ////////////////////////////////////////////////
  // Links ///////////////////////////////////////
  ////////////////////////////////////////////////

  // Links: Default
  --link-bg: transparent;
  --link-bg-hover: var(--accent-brand-a10);
  --link-color: var(--base-80);
  --link-color-hover: var(--accent-brand-darker);

  --link-current-bg: var(--base-20);
  --link-current-color: var(--base-100);

  // Links: Branded
  --link-branded-bg: transparent;
  --link-branded-bg-hover: var(--accent-brand-a10);
  --link-branded-color: var(--accent-brand);
  --link-branded-color-hover: var(--accent-brand-darker);

  ////////////////////////////////////////////////
  // CTAs ////////////////////////////////////////
  ////////////////////////////////////////////////

  // CTAs: Default
  --cta-bg: transparent;
  --cta-bg-hover: var(--accent-brand-a10);
  --cta-color: var(--base-80);
  --cta-color-hover: var(--accent-brand-darker);
  --cta-border: var(--base-60);
  --cta-border-hover: var(--accent-brand-darker);

  // CTAs: Branded
  --cta-branded-bg: transparent;
  --cta-branded-bg-hover: var(--accent-brand);
  --cta-branded-color: var(--accent-brand);
  --cta-branded-color-hover: var(--base-inverted);
  --cta-branded-border: var(--accent-brand);
  --cta-branded-border-hover: var(--accent-brand-darker);

  ////////////////////////////////////////////////
  // Tooltips ////////////////////////////////////
  ////////////////////////////////////////////////

  --tooltip-bg: rgba(var(--grey-900), 0.9);
  --tooltip-color: rgb(var(--white));

  ////////////////////////////////////////////////
  // Indicators //////////////////////////////////
  ////////////////////////////////////////////////

  // Indicators: Default
  --indicator-bg: rgb(var(--grey-300));
  --indicator-color: rgb(var(--grey-700));

  // Indicators: Success
  --indicator-success-bg: rgb(var(--green-400));
  --indicator-success-color: rgb(var(--green-900));

  // Indicators: Warning
  --indicator-warning-bg: rgb(var(--yellow-300));
  --indicator-warning-color: rgb(var(--yellow-900));

  // Indicators: Danger
  --indicator-danger-bg: rgb(var(--red-600));
  --indicator-danger-color: rgb(var(--white));

  // Indicators: Info
  --indicator-info-bg: var(--accent-brand);
  --indicator-info-color: rgb(var(--white));

  ////////////////////////////////////////////////
  // List items //////////////////////////////////
  ////////////////////////////////////////////////

  --list-item-bg-hover: rgb(var(--grey-50));

  ////////////////////////////////////////////////
  // Modals //////////////////////////////////////
  ////////////////////////////////////////////////

  --modal-bg: rgb(var(--white));
  --modal-backdrop: rgba(var(--black), 0.6);
  --modal-danger-border-color: rgb(var(--red-500));

  ////////////////////////////////////////////////
  // Colors //////////////////////////////////////
  ////////////////////////////////////////////////

  --color-primary: rgb(var(--grey-900));
  --color-secondary: rgb(var(--grey-500));

  ////////////////////////////////////////////////
  // Pills ///////////////////////////////////////
  ////////////////////////////////////////////////

  --pill-bg: transparent;
  --pill-bg-hover: rgb(var(--grey-50));
  --pill-color: rgb(var(--grey-800));
  --pill-color-hover: rgb(var(--grey-900));
  --pill-border: rgb(var(--grey-200));
  --pill-border-hover: rgb(var(--grey-600));

  ////////////////////////////////////////////////
  // ColorPicker /////////////////////////////////
  ////////////////////////////////////////////////

  --swatch-border-color: rgb(var(--black), 0.2);

  ////////////////////////////////////////////////
  // Utilities ///////////////////////////////////
  ////////////////////////////////////////////////

  // Focus
  --focus: var(--accent-brand);

  // Divider
  --divider: rgb(var(--grey-200));

  // Shadows
  --shadow-1: 0 10px 15px -3px rgba(var(--black), 0.1),
    0 4px 6px -2px rgba(var(--black), 0.05), 0 0 0 1px rgba(var(--black), 0.1);
  --shadow-2: 0 20px 25px -5px rgba(var(--black), 0.1),
    0 10px 10px -5px rgba(var(--black), 0.05), 0 0 0 1px rgba(var(--black), 0.1);

  // site styling addition
  --toolbar-bg: var(--base-10);
}
