@function sel-lang($sel, $lang) {
  @return '#{$sel}[lang="#{$lang}"]';
}
@function article-lang($lang) {
  @return sel-lang('article', $lang);
}

@mixin font-lang($lang, $family, $body-font: null) {
  $l-lang: article-lang($lang);
  $somefont-article-body: if(
    $body-font,
    'body.#{$body-font}-article-body',
    'body'
  );

  #{$somefont-article-body} {
    #{$l-lang} .text-styles,
    #{$l-lang} .crayons-article__header h1,
    #{sel-lang('section#comments-container', $lang)} .text-styles p,
    #{sel-lang('.with-content-font', $lang)} {
      font-family: #{$family};
    }
  }
}

$l-ja: article-lang('ja');
@mixin ja-styles {
  font-size: var(--fs-base);
  font-family: var(--ff-sans-serif);
  $scale: 1.25;
  line-height: calc(var(--lh-base) * #{$scale});

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: calc(var(--lh-tight) * #{$scale});
  }
}

// overrides typography.scss
#{$l-ja} .text-styles {
  @include ja-styles;
}
#{sel-lang('.localized-text-styles', 'ja')} {
  @include ja-styles;
  pre {
    font-size: var(--fs-base);
  }
}

.crayons-article__header {
  #{$l-ja} & {
    --locale-fs-5xl: 2.5rem;
    --locale-fs-4xl: 2rem;
    --locale-fs-3xl: 1.5rem;
  }
}

@include font-lang('x-v3-zph0xl', 'Vekos, sans-serif');
@include font-lang('x-v3-mqe0bm', 'Maqen, sans-serif');
@include font-lang('x-v3-jrlrflll', 'Cirlxarli_liparxe, sans-serif');
@include font-lang('x-v3-arx0as', 'Kardinal, sans-serif');
@include font-lang('x-v3-arx0as', 'Alblant, serif', 'serif');
@include font-lang('x-v3-zas0id', 'Endrata, sans-serif');
