<% if decorated_comment.low_quality %>
  <div class="crayons-notice crayons-notice--warning low-quality-comment-marker">
    <%= t("views.comments.quality.low") %> <a href="<%= code_of_conduct_path %>"><strong><%= t("views.comments.quality.conduct") %></strong></a>
  </div>
<% end %>

<% if comment.hidden_by_commentable_user %>
  <div class="low-quality-comment-marker comment__quality-marker <%= should_be_hidden?(comment, @root_comment) ? "element-hidden-by-commentable-user" : "" %>">
    <%= crayons_icon_tag(:info, class: "mr-2", title: t("views.comments.quality.hidden.icon")) %>
    <% if @root_comment %>
      <%= t("views.comments.quality.hidden.text.visible_in_permalink") %>
    <% else %>
      <%= t("views.comments.quality.hidden.text.accessible_via_permalink") %>
    <% end %>
  </div>
<% end %>
