<nav class="fs-s align-center block" aria-label="<%= t.v.articles.conduct.aria_label %>">
  <a href="/code-of-conduct" class="crayons-link crayons-link--secondary"><%= t.v.articles.conduct.code %></a>
  <span class="opacity-25 px-2" role="presentation">&bull;</span>
  <a href="/report-abuse" class="crayons-link crayons-link--secondary"><%= t.v.articles.conduct.report %></a>
</nav>
