<% if article %>
<div class='ltag__link'>
  <% if article.video && article.cloudinary_video_url %>
  <a href='<%= article.path %>' class="video-image" style="background-image: url(<%= article.cloudinary_video_url %>)">
    <span class="video-timestamp">
      <img src="<%= asset_path("video-camera.svg") %>" alt="video camera">
      <%= article.video_duration_in_minutes %></span>
  </a>
  <% end %>
  <% cdiv, cmod = article.reading_time.divmod(100) %>
  <% if article.organization %>
  <a href='<%= article.organization.path %>' class='ltag__link__link'>
    <div class='ltag__link__org__pic'>
      <img src='<%= article.organization.profile_image_url_for(length: 150) %>' alt='<%= article.organization.name.to_s %>'>
      <div class='ltag__link__user__pic'>
        <img src='<%= article.user.profile_image_url_for(length: 150) %>' alt=''>
      </div>
    </div>
  </a>
  <a href='<%= article.path %>' class='ltag__link__link'>
    <div class='ltag__link__content'>
      <h2><%= title %></h2>
      <h3><%= article.user.name %><%= t("views.articles.for_org_html", org: article.organization.name, start: "", end: "") %> ・ <%= article.readable_publish_date %></h3>
      <div class='ltag__link__taglist'>
      <% article.tag_list.each do |t| %>
        <span class='ltag__link__tag'>#<%= t %></span>
      <% end %>
      </div>
    </div>
  </a>
  <% else %>
  <a href='<%= article.user.path %>' class='ltag__link__link'>
    <div class='ltag__link__pic'>
      <img src='<%= article.user.profile_image_url_for(length: 150) %>' alt='<%= article.user.username.to_s %>'>
    </div>
  </a>
  <a href='<%= article.path %>' class='ltag__link__link'>
    <div class='ltag__link__content'>
      <h2><%= title %></h2>
      <h3><%= article.user.name %> ・ <%= article.readable_publish_date %></h3>
      <div class='ltag__link__taglist'>
      <% article.tag_list.each do |t| %>
        <span class='ltag__link__tag'>#<%= t %></span>
      <% end %>
      </div>
    </div>
  </a>
  <% end %>
</div>
<% else %>
<div class='ltag__link'>
  <div class='ltag__link__content'>
    <div class='missing'>
      <h2><%= t("views.articles.missing") %></h2>
    </div>
  </div>
</div>
<% end %>
