<% title t("views.manager.meta.title", title: @article.title) %>
<main id="main-content">
  <div class="dashboard-manage-header">
    <div class="dashboard-manage-header-inner-container">
      <div class="dashboard-manage-nav">
        <a href="<%= dashboard_path %>"><%= t("views.manager.nav.dashboard") %></a><%= t("views.manager.nav.text") %>
      </div>
      <% if flash[:error] %>
        <div role="alert">
          <h3 class="manage-page-error"><%= t("views.manager.error.pins", error: flash[:pins_error]) %></h3>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div role="alert">
          <h3 class="manage-page-success"><%= flash[:success] %></h3>
        </div>
      <% end %>
      <h2><%= t("views.manager.tools.heading") %></h2>
      <p><strong><%= t("views.manager.tools.subtitle") %></strong><%= t("views.manager.tools.text_html") %>
      <h2><%= t("views.manager.tips.heading") %></h2>
      <ol>
        <li>
          <%= t("views.manager.tips.text_1") %>
        </li>
        <li>
          <%= t("views.manager.tips.text_2_html") %>
        </li>
        <li>
          <%= t("views.manager.tips.text_3") %>
        </li>
      </ol>
    </div>
  </div>

  <div class="dashboard-container crayons-layout">
    <%= render "dashboards/dashboard_article", article: @article, discussion_lock: @discussion_lock, organization: @article.organization, org_admin: @user.org_admin?(@article.organization), manage_view: true %>
    <div class="single-article single-article-manage-form-wrapper">
      <%= form_for(RatingVote.new) do |f| %>
        <h2><%= t("views.manager.rating.heading") %></h2>
        <%= f.hidden_field :article_id, value: @article.id %>
        <%= f.hidden_field :group, value: "experience_level" %>
        <span class="button-section button-section-newbie">
          <button value="1" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == BigDecimal("1.0") %>">1</button>
          <button value="2" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == BigDecimal("2.0") %>">2</button>
          <button value="3" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == BigDecimal("3.0") %>">3</button>
        </span>
        <span class="button-section button-section-intermediate">
          <button value="4" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == BigDecimal("4.0") %>">4</button>
          <button value="5" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == BigDecimal("5.0") %>">5</button>
          <button value="6" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == BigDecimal("6.0") %>">6</button>
          <button value="7" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == BigDecimal("7.0") %>">7</button>
        </span>
        <span class="button-section button-section-senior">
          <button value="8" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == BigDecimal("8.0") %>">8</button>
          <button value="9" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == BigDecimal("9.0") %>">9</button>
          <button value="10" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == BigDecimal("10.0") %>">10</button>
        </span>
        <p><%= t("views.manager.rating.text") %></p>
        <p><span class="scale-pod"><%= t("views.manager.rating.lower") %></span><span class="scale-pod"><%= t("views.manager.rating.higher") %></span></p>
      <% end %>
    </div>
  </div>
</main>
