<% _t = t.v.tags.moderator %>
<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute, value: field.to_s, placeholder: _t.placeholder %>
  <sub>
    <%= _t.text code: tag.code(_t.code, style: "background: #D2D2D2; padding: 4px; border-radius: 5px; font-weight: bold;") %>
  </sub>
</div>
