<% _t = "views.email_subscriptions.invalid" %>
<meta name="robots" content="noindex" />
<div class="unsubscribed unsubscribed--red">
  <div class="unsubscribed__title">
    <%= t("heading", scope: _t) %>
  </div>
  <br />
  <div class="unsubscribed__message">
    <%= t "desc", scope: _t, link: tag.a(t("signin", scope: _t), href: app_url(user_settings_path(:notifications))) %>
  </div>
</div>
