<% _t = t.v.email_subscriptions.invalid %>
<meta name="robots" content="noindex" />
<div class="unsubscribed unsubscribed--red">
  <div class="unsubscribed__title">
    <%= _t.heading %>
  </div>
  <br />
  <div class="unsubscribed__message">
    <%= _t.desc link: tag.a(_t.signin, href: app_url(user_settings_path(:notifications))) %>
  </div>
</div>
