<% _t = "v.email_subscriptions.unsubscribe" %>
<meta name="robots" content="noindex" />
<div class="unsubscribed">
  <div class="unsubscribed__title">
    <%= t "heading", scope: _t, type: @email_type %>
  </div>
  <br />
  <div class="unsubscribed__message">
    <%= t "desc", scope: _t, link: tag.a(t("link", scope: _t), href: app_url(user_settings_path(:notifications))) %>
  </div>
</div>
