<% _t = t.v.users.custom %>
<label class="rich-selector crayons-field crayons-field--radio editor-selector--<%= version %>">
  <%= f.radio_button :editor_version, version, checked: @user.editor_version == version, class: "crayons-radio" %>
  <div class="crayons-field__label">
    <% if version == "v1" %>
      <%= _t.basic %>
    <% else %>
      <%= _t.rich %>
    <% end %>
  </div>
</label>
