<% _t = "v.users.custom" %>
<label class="rich-selector crayons-field crayons-field--radio navbar-selector--<%= navbar %>">
  <%= f.radio_button :config_navbar, navbar, checked: @users_setting.config_navbar == navbar, class: "crayons-radio" %>
  <div class="crayons-field__label">
    <% if navbar == "default" %>
      <%= t("fixed", scope: _t) %>
    <% else %>
      <%= t("static", scope: _t) %>
    <% end %>
  </div>
</label>
