<% if policy(Article).create? %>
<div class="crayons-card crayons-card--content-rows">
  <div class="grid gap-4">
    <h2 class="crayons-subtitle-1">
      <%= t("views.settings.extensions.rss.heading", community: community_name) %>
    </h2>
    <% if @users_setting.feed_url.present? %>
      <%= form_for @users_setting, url: users_settings_path do |f| %>
        <%= f.hidden_field :feed_url, value: @users_setting.feed_url %>
        <%= f.hidden_field :tab, value: @tab %>
        <div class="flex items-center">
          <button type="submit" class="crayons-btn crayons-btn--secondary"><%= t("views.settings.extensions.rss.fetch") %></button>
          <p class="pl-2"><%= t("views.settings.extensions.rss.last_html", time: tag.time(id: "rss-fetch-time", datetime: @users_setting.user.feed_fetched_at.iso8601)) %></p>
        </div>
      <% end %>
    <% end %>
    <p>
      <%= t("views.settings.extensions.rss.desc1_html", dashboard: link_to(t("views.settings.extensions.rss.dashboard"), dashboard_path)) %>
    </p>
    <p><%= t("views.settings.extensions.rss.desc2") %></p>
    <p>
      <%= t("views.settings.extensions.rss.desc3_html", guide: link_to(t("views.settings.extensions.rss.guide"), publishing_from_rss_guide_path)) %>
    </p>
    <p>
      <%= t("views.settings.extensions.rss.desc4") %>
      <%= t("contact_prompts.if_any_questions_html", contact: contact_path) %>
    </p>
    <p><%= t("views.settings.extensions.rss.desc5_html") %></p>
    <p><em><%= t("views.settings.extensions.rss.desc6") %></em></p>
  </div>

  <%= form_for @users_setting, url: users_settings_path, html: { class: "grid gap-6" } do |f| %>
    <div class="crayons-field">
      <%= f.label :feed_url, class: "crayons-field__label" %>
      <%= f.url_field :feed_url, class: "crayons-textfield" %>
    </div>

    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :feed_mark_canonical, class: "crayons-checkbox" %>
      <%= f.label :feed_mark_canonical, t("views.settings.extensions.rss.mark_canonical_html"), class: "crayons-field__label" %>
    </div>

    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :feed_referential_link, class: "crayons-checkbox" %>
      <%= f.label :feed_referential_link, t("views.settings.extensions.rss.referential_html", community: community_name), class: "crayons-field__label" %>
    </div>

    <%= f.hidden_field :tab, value: @tab, id: nil %>
    <% button_text = @users_setting.feed_url.present? ? t("views.settings.extensions.rss.save") : t("views.settings.extensions.rss.submit") %>
    <button class="crayons-btn w-max" type="submit"><%= button_text %></button>
  <% end %>
</div>
<% end %>
