<% _t = "v.users.signout" %>
<% title t("meta.title", scope: _t, community: community_name) %>
<div class="signout_confirm-wrapper">

  <h1 class="fs-2xl mb-2">
  <%= t("heading", scope: _t) %>
  </h1>
  <%= form_tag destroy_user_session_path, method: :delete do %>
    <button class="crayons-btn crayons-btn--l">
      <%= t("yes", scope: _t) %>
    </button>
  <% end %>

</div>
