<% _t = t.v.users.signout %>
<% title _t.meta.title(community: community_name) %>
<div class="signout_confirm-wrapper">

  <h1 class="fs-2xl mb-2">
  <%= _t.heading %>
  </h1>
  <%= form_tag destroy_user_session_path, method: :delete do %>
    <button class="crayons-btn crayons-btn--l">
      <%= _t.yes %>
    </button>
  <% end %>

</div>
