<iframe
  src="https://dartpad.dev/embed-<%= type %>.html?id=<%= id %>&<%= options.map { |k, v| "#{k}=#{v}" }.join("&") %>"
  scrolling="no"
  frameborder="no"
  allowtransparency="true"
  loading="lazy"
  style="width: 100%; height: 600px">
</iframe>
