<%# use <ul> instead of <div> to work around some quirks of the markdown parser %>
<ul class="ltag_gloss">
  <% if orig %>
    <li class="gloss__line--original">
      <%== orig %>
    </li>
  <% end %>
  <% lines.each do |gl| %>
    <li>
      <%== gl %>
    </li>
  <% end %>
  <% if free %>
    <li class="gloss__line--free">
      <%== free %>
    </li>
  <% end %>
</ul>
