<% if include_js %>
<script defer>
function loadMC(event) {
  document.querySelectorAll(".migdal-mc-table").forEach((t) => {
    let max = Array.from(t.querySelectorAll(":scope .migdal-mc-tr")).reduce((a, b) => {
      return Math.max(a, b.querySelectorAll(":scope > .migdal-mc-td, :scope > .migdal-mc-th").length)
    }, 0);
    if (max > 0) {
      for (let nth = 1; nth <= max; nth++) {
        let col = Array.from(t.querySelectorAll(`:scope .migdal-mc-tr > .migdal-mc-td:nth-child(${nth}), :scope .migdal-mc-tr > .migdal-mc-th:nth-child(${nth})`));
        let wmax = col.reduce((a, b) => Math.max(a, b.offsetWidth), 0);
        for (const cell of col) { cell.style.width = `${wmax}px` }
      }
    }
  });
}
loadMC();
window.addEventListener('pageshow', loadMC);
</script>
<style>
  .migdal-mc-table, .migdal-mc-tbody, .migdal-mc-tfoot, .migdal-mc-thead, .migdal-mc-tr {
    display: block;
  }
  .migdal-mc-td, .migdal-mc-th {
    display: table-cell;
    /* copied from table styles */
    padding: var(--su-2);
    border-style: solid;
    border-color: var(--base-20);
    border-width: 1px 0 0 1px;
  }
  .migdal-mc-td:last-child, .migdal-mc-th:last-child {
    border-right-width: 1px;
  }
  .migdal-mc-tbody > .migdal-mc-tr:last-child > .migdal-mc-td,
  .migdal-mc-tbody > .migdal-mc-tr:last-child > .migdal-mc-th {
    border-bottom-width: 1px;
  }
  .migdal-mc-th {
    font-weight: bold;
    /* copied from table styles */
    background: var(--body-bg);
  }
</style>
<% end %>

<div style="column-count: <%= columns %>; margin-bottom: var(--content-rhythm)">
  <%== content %>
</div>
