<% if include_js %>
<style>
  <%# copied from typography.css but without overflow-y %>
  .text-styles .table-wrapper-paragraph-multicolumn {
    width: 100%;
    margin: 0 0 var(--content-rhythm) 0;
  }
  .migdal-mc-table, .migdal-mc-tbody, .migdal-mc-tfoot, .migdal-mc-thead, .migdal-mc-tr {
    display: block;
  }
  .migdal-mc-td, .migdal-mc-th {
    display: table-cell;
    /* copied from table styles */
    padding: var(--su-2);
    border-style: solid;
    border-color: var(--base-20);
    border-width: 1px 0 0 1px;
  }
  .migdal-mc-td:last-child, .migdal-mc-th:last-child {
    border-right-width: 1px;
  }
  .migdal-mc-tbody > .migdal-mc-tr:last-child > .migdal-mc-td,
  .migdal-mc-tbody > .migdal-mc-tr:last-child > .migdal-mc-th {
    border-bottom-width: 1px;
  }
  .migdal-mc-th {
    font-weight: bold;
    /* copied from table styles */
    background: var(--body-bg);
  }
</style>
<% end %>

<div style="column-count: <%= columns %>; margin-bottom: var(--content-rhythm)">
  <%== content %>
</div>
