<p><%= community_name %> に参加される方は、以下のルールを守ってご利用ください。<%= community_name %> 上で行われる活動と <%= community_name %> を介して呼びかけられる活動は、ここに書かれている内容に反してはなりません。</p>
<p>（当分の間これを利用規約の代わりとします）</p>
<ul>
  <li>このサイトは公開の場です。紳士的にふるまい、他者を傷つける発言をしないでください。</li>
  <li>建設的な議論を心がけ、話題と関係のない議論を書き連ねたりしないでください。批判を行う時も相手の人格を攻撃したり中傷したりすることはしないでください。常に自分とは違う視点があることを意識してください。</li>
  <li>新しいメンバーには優しくしましょう。</li>
  <li>個人情報は、それが自分のものであっても公開しないでください。</li>
  <li>コミュニケーションを取るかどうか、続けるかどうかは各利用者の自由です。延々と会話や回答を求め続けることは迷惑となりますのでやめてください。</li>
  <li>あなたがそれを妥当な判断と信じているかにかかわらず、他者の所属・性別・出身などの集合的属性を蔑んだり、それを基にその人物を批判することは差別に基づく中傷となりますので、このような行動はしないでください。</li>
  <li>
  このサイトは主に言語創作・世界創作を行う人々の情報交換を目的としたものです。幅広い話題が含まれるため、一概に関連のない話題を定めることは現在考えていませんが、現実世界での犯罪を助長する発言や、必要なく社会的・政治的立場の誇示またはその表明を求めるような発言はしないでください。
    <ul>
      <li>サーバーの規約により、法令に反する内容や公序良俗に反する内容、わいせつな内容、差別、人権侵害、誹謗中傷の投稿またはそのような内容への誘導は禁止されています。</li>
    </ul>
  </li>
  <li>このサイトに投稿された内容の権利は作者または投稿者にありますが、サイトの趣旨上、<%= community_name %> 上で他のユーザーがあなたの投稿にリンクしたり、翻訳を作成したりすることは自由としています。</li>
</ul>
<p>ルールの内容は今後加筆されることがあります。</p>
<h2>対処</h2>
<p>ルールに違反した行動を発見した場合、<a href="<%= report_abuse_url %>">通報フォーム</a>または <%= contact_link %> にご報告ください。すべての報告は審査者が確認し、調査のうえしかるべき措置を行います。詳しい基準は追って明示する予定です。
</p>
<p>審査者の判断により、ルールに反したコメントその他を削除したり、悪質または有害とされる行動をとったユーザーの活動を一時的または永久に停止したりすることがあります。これは審査者の権限であり義務です。</p>
