<article id="editor-markdown-help" lang="ja">
  <div class="text-styles">
    <p>ここではよく使われる Markdown 構文の用例を示しています。もっと深く知りたい方は<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet" target="_blank" rel="noopener">こちらのチートシート</a>（英語）をご覧ください。
    </p>

    <h3>太字・斜体</h3>
    <p><em>斜体</em>: <code>*半角アスタリスク* か _半角アンダーバー_</code></p>
    <p><strong>太字</strong>: <code>**半角アスタリスク2つ** か __半角アンダーバー2つ__</code></p>

    <h3>リンク</h3>
    <p><a href="<%= app_url %>">これはリンクです</a>: <code>[これはリンクです](リンク先-url)</code></p>
    <p><a name="anchored">ページ内アンカー</a>（目次など用）</p>
    <pre>
      ## 目次
        * [第 1 章](#chapter-1)
        * [第 2 章](#chapter-2)

      ### 第 1 章 <%= "<a name=\"chapter-1\"></a>" %>
    </pre>

    <h3>画像</h3>
    <p>
      記事やコメントに GIF を貼り付ける場合、1 ページ 1 コマあたり 2 億画素までの制限があります。
      <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--OsLaFSo9--/c_fill,f_auto,fl_progressive,h_220,q_auto,w_220/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/31047/af153cd6-9994-4a68-83f4-8ddf3e13f0bf.jpg" alt="example image, with sloan" loading="lazy" />
    </p>
    <pre>![画像の代替テキスト](画像-url)</pre>
    <figcaption>HTML の <code>figcaption</code> タグでキャプションもつけられます！</figcaption>

    <h3>見出し</h3>
    <p>以下の構文で記事に見出しをつけられます。</p>
    <pre># '#' 1 個で レベル 1 見出し<br>## '#' 2 個で レベル 2 見出し<br>...<br>###### '#' 6 個で レベル 6 見出し</pre>
    <h1>'#' 1 個で レベル 1 見出し</h1>
    <h2>'#' 2 個で レベル 2 見出し</h2>
    <h3>'#' 3 個で レベル 3 見出し</h3>
    <h4>'#' 4 個で レベル 4 見出し</h4>
    <h5>'#' 5 個で レベル 5 見出し</h5>
    <h6>'#' 6 個で レベル 6 見出し</h6>

    <h3>自分用のメモ・注記</h3>
    <p>以下の構文で非表示のメモを挿入することができます。</p>
    <pre>&lt;!-- この内容は記事に現れません！ --&gt;</pre>

    <h3>間違いやすいポイント</h3>
    <p>
      箇条書きの作り方は他の Markdown エディタと同じです。ただし、もし番号リストの中に画像を挟む場合は、リストの番号がリセットされるのを防ぐため、必ず画像の頭をインデントしてください。<br>
      例えばこのようにします。
      <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--HjVUshkb--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/8l29vxiir8k5d097o9o8.png"
        alt="example image of writing lists with images in Markdown" loading="lazy" />
    </p>
    <p>
     最後に、<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet" target="_blank" rel="noopener">Markdown チートシート</a>（英語）をもう一度ご案内します。
    </p>
  </div>
</article>
