<style>
  .permalink-heading svg {
    fill: currentColor;
    visibility: hidden;
  }

  .permalink-heading a:focus svg,
  .permalink-heading:hover svg {
    visibility: visible;
  }

  .container .body pre {
    margin-bottom: 1em;
  }
</style>

<main class="container article" id="editor-help-guide">
  <article id="main-content" class="body localized-text-styles" lang="ja">
    <h1 style="font-size: 57px; font-weight: 700; line-height: 73px;">編集ガイド 🤓</h1>

    <h2 style="font-size:2.8em" id="#things-to-know" class="permalink-heading">
      <strong>ポイント</strong>
      <a href="#things-to-know" aria-label="「ポイント」のパーマリンク">
          <%= crayons_icon_tag("small-link", aria_hidden: true) %>
      </a>
    </h2>
    <ul>
      <li><a href="<%= root_path %>"><%= community_name %></a> への書き込みは <a href="#markdown"><strong>Markdown</strong></a> 記法で整形します。</li>
      <li>多くの場合、本文の行中に直接 HTML を挟むことができます。</li>
      <li><strong><a href="#liquidtags">Liquid タグ</a></strong>を使ってツイートや動画などの高度なコンテンツを埋め込むことができます。</li>
      <li>意見をもらうためなどに、非公開記事も特定の URL からアクセス可能です。</li>
      <li><b>見出し画像</b>のサイズは 1000 × 420 がおすすめです。</li>
    </ul>

    <h2 style="font-size:2.8em" id="markdown" class="permalink-heading">
      <strong>✍ Markdown 入門</strong>
      <a href="#markdown" aria-label="「Markdown 入門」のパーマリンク">
          <%= crayons_icon_tag("small-link", aria_hidden: true) %>
      </a>
    </h2>
    <p>ここではよく使われる Markdown 構文の用例を示しています。もっと深く知りたい方は
      <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet" target="_blank" rel="noopener">こちらのチートシート</a>（英語）をご覧ください。
    </p>

    <%= render partial: "editor_guide_h3", locals: { id: "markdown-bold-and-italic", title: "太字・斜体" } %>
    <p><em>斜体</em>: <code>*半角アスタリスク* か _半角アンダーバー_</code></p>
    <p><strong>太字</strong>: <code>**半角アスタリスク2つ** か __半角アンダーバー2つ__</code></p>

    <%= render partial: "editor_guide_h3", locals: { id: "markdown-links", title: "リンク" } %>
    <p><a href="<%= app_url %>">これはリンクです</a>: <code>[これはリンクです](リンク先-url)</code></p>
    <p><a name="anchored">ページ内アンカー</a>（目次など用）</p>
    <pre>
      ## 目次
        * [第 1 章](#chapter-1)
        * [第 2 章](#chapter-2)

      ### 第 1 章 <%= "<a name=\"chapter-1\"></a>" %>
    </pre>

    <%= render partial: "editor_guide_h3", locals: { id: "markdown-inline-images", title: "画像" } %>
    <p>
      記事やコメントに GIF を貼り付ける場合、1 ページ 1 コマあたり 2 億画素までの制限があります。
      <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--OsLaFSo9--/c_fill,f_auto,fl_progressive,h_220,q_auto,w_220/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/31047/af153cd6-9994-4a68-83f4-8ddf3e13f0bf.jpg" alt="example image, with sloan" loading="lazy" />
    </p>
    <pre>![画像の代替テキスト](画像-url)</pre>
    <figure>
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--OsLaFSo9--/c_fill,f_auto,fl_progressive,h_50,q_auto,w_50/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/31047/af153cd6-9994-4a68-83f4-8ddf3e13f0bf.jpg" alt="example image, with sloan" loading="lazy" />
        <figcaption>HTML の <code>figcaption</code> タグでキャプションもつけられます！</figcaption>
    </figure>

    <%= render partial: "editor_guide_h3", locals: { id: "markdown-headers", title: "見出し" } %>
    <p>以下の構文で記事に見出しをつけられます。</p>
    <pre># '#' 1 個で レベル 1 見出し<br>## '#' 2 個で レベル 2 見出し<br>...<br>###### '#' 6 個で レベル 6 見出し</pre>

    <%= render partial: "editor_guide_h3", locals: { id: "author-notes", title: "自分用のメモ・注記" } %>
    <p>以下の構文で非表示のメモを挿入することができます。</p>
    <pre>&lt;!-- この内容は記事に現れません！ --&gt;</pre>

    <h2 style="font-size:2.8em" id="accessibility" class="permalink-heading">
      <strong>Accessibility</strong>
      <a href="#accessibility" aria-label="permalink for Accessibility"><%= crayons_icon_tag("small-link", aria_hidden: true) %></a>
    </h2>
    <p>People access online content in all kinds of different ways, and there are a few things you can do to make your posts more easily understood by a broad range of users. You can find out more about web accessibility at <a href="https://www.w3.org/WAI/fundamentals/accessibility-intro/">W3C's Introduction to Web Accessibility</a>, but there are two main ways you can make your posts more accessible: providing alternative descriptions of any images you use, and adding appropriate headings.</p>

    <%= render partial: "editor_guide_h3", locals: { id: "alt-text-for-images", title: "Providing alternative descriptions for images" } %>
    <p>Some users might not be able to see or easily process images that you use in your posts. Providing an alternative description for an image helps make sure that everyone can understand your post, whether they can see the image or not.</p>
    <p>When you upload an image in the editor, you will see the following text to copy and paste into your post:</p>
    <pre>![Image description](/file-path/my-image.png)</pre>
    <p>Replace the "Image description" in square brackets with a description of your image - for example:</p>
    <pre>![A pie chart showing 40% responded "Yes", 50% responded "No" and 10% responded "Not sure"](/file-path/my-image.png)</pre>
    <p>By doing this, if someone reads your post using an assistive device like a screen reader (which turns written content into spoken audio) they will hear the description you entered.</p>

    <%= render partial: "editor_guide_h3", locals: { id: "accessible-headings", title: "Providing headings" } %>
    <p>Headings provide an outline of your post to readers, including people who can't see the screen well. Many assistive technologies (like screen readers) allow users to skip directly to a particular heading, helping them find and understand the content of your post with ease.</p>
    <p><a href="#markdown-headers">Headings can be added in levels 1 - 6</a>. Avoid using a level one heading (i.e., '# Heading text'). When you create a post, your post title automatically becomes a level one heading and serves a special role on the page, much like the headline of a newspaper article. Similar to how a newspaper article only has one headline, it can be confusing if multiple level one headings exist on a page.</p>
    <p>In your post content, start with level two headings for each section (e.g. '## Section heading text'), and increase the heading level by one when you'd like to add a sub-section, for example:</p>
    <pre>## Fun facts about sloths</br></br>### Speed</br></br>Sloths move at a maximum speed of 0.27 km/h!</pre>

    <%= render partial: "liquid_tag_section_intro", locals: { styles: "font-size:2.8em;" } %>

    <%= render partial: "editor_guide_h3", locals: { id: "supported-url-embeds-list", title: "URL での埋め込みに対応" } %>

    <%= render partial: "supported_url_embeds_list" %>

    <%= render partial: "editor_guide_h3", locals: { id: "supported-nonurl-embeds-list", title: "URL 以外での埋め込みに対応" } %>

    <%= render partial: "supported_nonurl_embeds_list" %>

    <%= render partial: "editor_guide_h3", locals: { id: "parsing-liquid-tags-as-code-example", title: "コードの例として Liquid タグを処理する" } %>
    <p>Liquid タグをコードとして表示したい場合は、バッククォート 1 つまたは 3 つで挟むだけです。</p>
    <pre>`{% mytag %}{{ site.SOMETHING }}{% endmytag %}`</pre>
    <p>ただし <code>raw</code> タグを使う場合は例外で、正しくエスケープするには、このようにします。
    </p>
    <pre>`{% raw %}{{site.SOMETHING }} {% ``endraw`` %}`</pre>

    <%= render partial: "editor_guide_h3", locals: { id: "common-gotchas", title: "間違いやすいポイント" } %>
    <p>
      箇条書きの作り方は他の Markdown エディタと同じです。ただし、もし番号リストの中に画像を挟む場合は、リストの番号がリセットされるのを防ぐため、必ず画像の頭をインデントしてください。例えばこのようにします。
      <img
        src="https://res.cloudinary.com/practicaldev/image/fetch/s--HjVUshkb--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/8l29vxiir8k5d097o9o8.png"
        alt="example image of writing lists with images in Markdown"
        loading="lazy" />
    </p>

    <p>
      <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet" target="_blank" rel="noopener">
        <strong>最後に、Markdown チートシート（英語）をもう一度ご案内します。</strong>
      </a>
    </p>

    <p>素敵なご投稿お待ちしております！ 📝</p>
  </article>
</main>
