<article id="editor-liquid-help" lang="ja">
  <div class="text-styles">
    <h3>URL での埋め込みに対応</h3>

    <ul class="crayons-card grid gap-2 grid-cols-2 p-4 list-disc">
      <li class="ml-4"><%= community_name %> コメント</li>
      <li class="ml-4"><%= community_name %> リンク</li>
      <li class="ml-4"><%= community_name %> 告知</li>
      <li class="ml-4"><%= community_name %> グループ</li>
      <li class="ml-4"><%= community_name %> ポッドキャスト配信</li>
      <li class="ml-4"><%= community_name %> タグ</li>
      <li class="ml-4"><%= community_name %> ユーザープロフィール</li>
      <li class="ml-4">asciinema</li>
      <li class="ml-4">CodePen</li>
      <li class="ml-4">CodeSandbox</li>
      <li class="ml-4">DotNetFiddle</li>
      <li class="ml-4">GitHub Gist、イシュー、リポジトリ</li>
      <li class="ml-4">Glitch</li>
      <li class="ml-4">Instagram</li>
      <li class="ml-4">JSFiddle</li>
      <li class="ml-4">JSitor</li>
      <li class="ml-4">Loom</li>
      <li class="ml-4">Kotlin</li>
      <li class="ml-4">Medium</li>
      <li class="ml-4">Next Tech</li>
      <li class="ml-4">Reddit</li>
      <li class="ml-4">Replit</li>
      <li class="ml-4">Slideshare</li>
      <li class="ml-4">Speaker Deck</li>
      <li class="ml-4">SoundCloud</li>
      <li class="ml-4">Spotify</li>
      <li class="ml-4">StackBlitz</li>
      <li class="ml-4">Stackery</li>
      <li class="ml-4">Stack Exchange または Stack Overflow</li>
      <li class="ml-4">Twitch</li>
      <li class="ml-4">Twitter</li>
      <li class="ml-4">Twitter タイムライン</li>
      <li class="ml-4">Wikipedia</li>
      <li class="ml-4">Vimeo</li>
      <li class="ml-4">YouTube</li>
    </ul>

    <hr />

    <h3>URL 以外での埋め込みに対応</h3>

    <h4>Migdal 独自機能</h4>
    <p>本サイトが言語創作コミュニティとして独自開発している専用タグの一覧は、</p>
    <a class="c-cta c-cta-branded m-2 block" target="_blank" href="https://migdal.jp/a_i/%E5%89%B5%E4%BD%9C%E8%A8%80%E8%AA%9E%E4%B8%96%E7%95%8C%E8%A8%98%E4%BA%8B%E5%9F%B7%E7%AD%86%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E4%BE%BF%E5%88%A9%E6%A9%9F%E8%83%BD%E9%8B%AD%E6%84%8F%E8%BF%BD%E5%8A%A0%E4%B8%AD-50dd">
      <svg class="align-middle mr-1" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3 18.5V5a3 3 0 0 1 3-3h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5A3.5 3.5 0 0 1 3 18.5zM19 20v-3H6.5a1.5 1.5 0 0 0 0 3H19zM10 4H6a1 1 0 0 0-1 1v10.337A3.486 3.486 0 0 1 6.5 15H19V4h-2v8l-3.5-2l-3.5 2V4z" /></svg>
      創作言語・世界記事執筆のための便利機能
    </a>
    <p>の記事をご覧ください（随時新機能を追加しています）。</p>

    <h4>折りたたみ要素</h4>
    <p><code>details</code>, <code>spoiler</code>, <code>collapsible</code> を使って、HTML の詳細折りたたみ要素を入れることができます。「要約」の部分はドロップダウンのタイトルに表示され、「内容」はドロップダウンを開くまで見えない部分です。これはユーザーの働きかけ（クリックなど）がないと表示されない隠し文章（クイズの答えなど）を作るのに便利です。</p>
    <pre>
      {% details 要約 %} 内容 {% enddetails %}
      {% spoiler 要約 %} 内容 {% endspoiler %}
      {% collapsible 要約 %} 内容 {% endcollapsible %}
    </pre>

    <h4>KaTeX</h4>
    <p>数式を以下のように KaTeX Liquid ブロックに入れます。</p>
    <pre>{% katex %}<br> c = \pm\sqrt{a^2 + b^2}<br>{% endkatex %}<br></pre>
    <p>KaTeX を行の途中に入れるには "inline" オプションを使います。</p>
    <pre>{% katex inline %}<br> c = \pm\sqrt{a^2 + b^2}<br>{% endkatex %}<br></pre>

    <h4>RunKit</h4>
    <p>実行可能なコードを以下のように runkit Liquid ブロックに入れます。</p>
    <pre>{% runkit<br>// hidden setup JavaScript code goes in this preamble area<br>const hiddenVar = 42<br>%}<br>// visible, reader-editable JavaScript code goes here<br>console.log(hiddenVar)<br>{% endrunkit %}<br></pre>

    <% if @user_approved_liquid_tags.include? UserSubscriptionTag %>
      <h4><%= community_name %> User Subscriptions</h4>
      <p class="fs-s fw-bold">This embed can only be created within posts by Admins.</p>
      <p>You can add call-to-action text that will show above the subscribe button:</p>
      <code>{% user_subscription If you'd like to receive future updates, subscribe below! %}</code>
      <p class="fs-s">
        If a reader is signed out, the button will prompt them to sign in first
        to subscribe. If the reader is signed in, the button will prompt them
        to subscribe.
      </p>
    <% end %>
  </div>
</article>
