<h3 id="<%= id %>" class="permalink-heading">
  <strong><%= title %></strong>
  <a href="#<%= id %>" aria-label="「<%= title %>」のパーマリンク">
    <%= crayons_icon_tag("small-link", aria_hidden: true) %>
  </a>
</h3>
