<h2 style="<%= styles %>" id="liquidtags" class="permalink-heading">
  <strong>🌊 Liquid タグ</strong>
  <a href="#liquidtags" aria-label="「Liquid タグ」のパーマリンク"><%= crayons_icon_tag("small-link", aria_hidden: true) %></a>
</h2>
<p>
  エディタでは標準の
  <a href="https://shopify.github.io/liquid" target="_blank" rel="noopener">Liquid タグ</a>が使えるほか、このサイト独自の拡張タグがあります。独自に対応している埋め込みタグの一覧は以下の通りです。拡張タグによる埋め込みでは、完全な URL を指定してください。<br />
  <code>{% embed https://... %}</code>
</p>
