<ul class="crayons-card grid gap-2 grid-cols-1 s:grid-cols-2 p-4 list-disc">
  <li class="ml-4"><%= community_name %> Comment</li>
  <li class="ml-4"><%= community_name %> Link</li>
  <li class="ml-4"><%= community_name %> Listing</li>
  <li class="ml-4"><%= community_name %> Organization</li>
  <li class="ml-4"><%= community_name %> Podcast Episode</li>
  <li class="ml-4"><%= community_name %> Tag</li>
  <li class="ml-4"><%= community_name %> User Profile</li>
  <li class="ml-4">asciinema</li>
  <li class="ml-4">CodePen</li>
  <li class="ml-4">CodeSandbox</li>
  <li class="ml-4">DotNetFiddle</li>
  <li class="ml-4">GitHub Gist, Issue or Repository</li>
  <li class="ml-4">Glitch</li>
  <li class="ml-4">Instagram</li>
  <li class="ml-4">JSFiddle</li>
  <li class="ml-4">JSitor</li>
  <li class="ml-4">Loom</li>
  <li class="ml-4">Kotlin</li>
  <li class="ml-4">Medium</li>
  <li class="ml-4">Next Tech</li>
  <li class="ml-4">Reddit</li>
  <li class="ml-4">Replit</li>
  <li class="ml-4">Slideshare</li>
  <li class="ml-4">Speaker Deck</li>
  <li class="ml-4">SoundCloud</li>
  <li class="ml-4">Spotify</li>
  <li class="ml-4">StackBlitz</li>
  <li class="ml-4">Stackery</li>
  <li class="ml-4">Stack Exchange or Stack Overflow</li>
  <li class="ml-4">Twitch</li>
  <li class="ml-4">Twitter</li>
  <li class="ml-4">Twitter timeline</li>
  <li class="ml-4">Wikipedia</li>
  <li class="ml-4">Vimeo</li>
  <li class="ml-4">YouTube</li>
</ul>
