<% @user_approved_liquid_tags = Users::ApprovedLiquidTags.call(@user) %>

<h4>Migdal 独自機能</h4>
<p>本サイトが言語創作コミュニティとして独自開発している専用タグの一覧は、</p>
<a class="c-cta c-cta-branded m-2 block" target="_blank" href="https://migdal.jp/a_i/%E5%89%B5%E4%BD%9C%E8%A8%80%E8%AA%9E%E4%B8%96%E7%95%8C%E8%A8%98%E4%BA%8B%E5%9F%B7%E7%AD%86%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E4%BE%BF%E5%88%A9%E6%A9%9F%E8%83%BD%E9%8B%AD%E6%84%8F%E8%BF%BD%E5%8A%A0%E4%B8%AD-50dd">
  <svg class="align-text-top" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m17.657 14.828l-1.414-1.414L17.657 12A4 4 0 1 0 12 6.343l-1.414 1.414l-1.414-1.414l1.414-1.414a6 6 0 0 1 8.485 8.485l-1.414 1.414zm-2.829 2.829l-1.414 1.414a6 6 0 1 1-8.485-8.485l1.414-1.414l1.414 1.414L6.343 12A4 4 0 1 0 12 17.657l1.414-1.414l1.414 1.414zm0-9.9l1.415 1.415l-7.071 7.07l-1.415-1.414l7.071-7.07z" /></svg>
  創作言語・世界記事執筆のための便利機能
</a>
<p>の記事をご覧ください（随時新機能を追加しています）。</p>

<h4>折りたたみ要素</h4>
<p><code>details</code>, <code>spoiler</code>, <code>collapsible</code> を使って、HTML の詳細折りたたみ要素を入れることができます。「要約」の部分はドロップダウンのタイトルに表示され、「内容」はドロップダウンを開くまで見えない部分です。これはユーザーの働きかけ（クリックなど）がないと表示されない隠し文章（クイズの答えなど）を作るのに便利です。</p>
<pre>
  {% details 要約 %} 内容 {% enddetails %}
  {% spoiler 要約 %} 内容 {% endspoiler %}
  {% collapsible 要約 %} 内容 {% endcollapsible %}
</pre>

<h4>KaTeX</h4>
<p>数式を以下のように KaTeX Liquid ブロックに入れます。</p>
<pre>{% katex %}<br> c = \pm\sqrt{a^2 + b^2}<br>{% endkatex %}<br></pre>
<p>KaTeX を行の途中に入れるには "inline" オプションを使います。</p>
<pre>{% katex inline %}<br> c = \pm\sqrt{a^2 + b^2}<br>{% endkatex %}<br></pre>

<h4>RunKit</h4>
<p>実行可能なコードを以下のように runkit Liquid ブロックに入れます。</p>
<pre>{% runkit<br>// hidden setup JavaScript code goes in this preamble area<br>const hiddenVar = 42<br>%}<br>// visible, reader-editable JavaScript code goes here<br>console.log(hiddenVar)<br>{% endrunkit %}<br></pre>

<% if @user_approved_liquid_tags.include? UserSubscriptionTag %>
  <h4><%= community_name %> User Subscriptions</h4>
  <p class="fs-s fw-bold">This embed can only be created within posts by Admins.</p>
  <p>You can add call-to-action text that will show above the subscribe button:</p>
  <code>{% user_subscription If you'd like to receive future updates, subscribe below! %}</code>
  <p class="fs-s">
    If a reader is signed out, the button will prompt them to sign in first
    to subscribe. If the reader is signed in, the button will prompt them
    to subscribe.
  </p>
<% end %>
