<% title "#{community_name} のお約束" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url(code_of_conduct_path) %>" />
  <meta name="description" content="<%= community_name %> のお約束">
  <%= meta_keywords_default %>

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url(code_of_conduct_path) %>" />
  <meta property="og:title" content="<%= community_name %> のお約束" />
  <meta property="og:site_name" content="<%= community_name %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= Settings::General.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="<%= community_name %> のお約束">
<% end %>

<main id="main-content" class="crayons-layout crayons-layout--limited-l">
  <div class="crayons-card text-styles text-padding">
    <h1 class="fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-4 mt-0">お約束</h1>
    <%= render "coc_text" %>
  </div>
</main>
