<% title "編集ガイド" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/p/editor_guide") %>" />
  <meta name="description" content="<%= community_name %> | 編集ガイドライン">
  <%= meta_keywords_default %>
<% end %>

<div class="blank-space"></div>
<%= render "editor_guide_text" %>
