@import '../variables';
@import 'leipzig.min';

@mixin dialogue-text($dir, $bg, $bd) {
  $to: if($dir, 'left', 'right');
  $anti: if($dir, 'right', 'left');
  @if $dir {
    flex-direction: row;
  } @else {
    flex-direction: row-reverse;
  }
  .ltag_dialogue-fig {
    margin-#{$anti}: 2em;
  }
  .ltag_dialogue-text {
    position: relative;
    margin-top: 2em;
    padding: 1em 0.5em;
    background-color: #{$bg};
    border: 3px solid #{$bd};
    border-radius: 0.5em;
    body:not(.minimal-theme):not(.dark-theme) & {
      background-color: $white;
    } /* Migdal theme, logged in or out */
    &-before {
      content: '';
      position: absolute;
      top: 1.8em;
      #{$to}: -24px;
      margin-top: -12px;
      border: 12px solid transparent;
      border-#{$anti}-color: #{$bg};
      z-index: 2;
      body:not(.minimal-theme):not(.dark-theme) & {
        border-#{$anti}-color: $white;
      } /* Migdal theme, logged in or out */
    }
    &-after {
      content: '';
      position: absolute;
      top: 1.8em;
      #{$to}: -30px;
      margin-top: -14px;
      border: 14px solid transparent;
      border-#{$anti}-color: inherit;
      z-index: 1;
    }
  }
}

.ltag_dialogue {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin: 1.5em 0;
  overflow: hidden;
  .ltag_dialogue-fig {
    flex-shrink: 0;
    img {
      width: 80px;
      height: 80px;
      margin-bottom: 0.5em;
      border: 3px solid $sky-blue;
      border-radius: 50%;
    }
    figcaption {
      width: 80px;
      text-align: center;
      font-style: normal;
      line-height: var(--lh-tight);
    }
  }
  &.dialogue-left {
    @include dialogue-text(true, var(--card-bg), $sky-blue);
  }
  &.dialogue-right {
    @include dialogue-text(false, var(--card-bg), $sky-blue);
  }
}

.ltag_glyph {
  display: inline !important;
  margin: 0 !important;
  border-radius: 0 !important;
  height: 1em !important;
  width: fit-content;
  _:lang(x)::-moz-placeholder, /* Firefox hack */
  & {
    width: auto; /* width: auto and fit-content seem to have opposite effect on GC and FF */
  }
}

.ltag_hidden {
  background-color: var(--body-color);
  color: var(--body-color);
  padding: 0.1em 0;
  &:hover,
  &:focus {
    background-color: var(--base-a10);
    color: inherit;
  }
}

.ltag_emph {
  font-style: inherit;
  text-emphasis: filled;
}
