@import '../variables';
@import '../mixins';
.ltag__user__link {
  color: var(--body-color) !important;
  &:active {
    opacity: 0.7;
  }
  &.profile-image-link {
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
    }
  }
}
.ltag__user {
  font-family: var(--ff-sans-serif);
  border-left: 1px solid var(--form-border) !important;
  border-right: 1px solid var(--form-border) !important;
  border-bottom: 1px solid var(--form-border) !important;
  border-top: 30px solid var(--form-border);
  box-shadow: var(--shadow-smooth) !important;
  border-radius: var(--radius-auto) !important;
  display: block;
  margin: 0.95em 0 1.2em;
  position: relative;
  overflow: hidden;
  width: auto;
  .ltag__user__pic {
    display: inline-block;
    padding: calc(0.6vw + 8px);
    padding-right: 8px;
    img {
      width: calc(5vw + 30px);
      height: calc(5vw + 30px);
      margin: auto auto !important;
      border-radius: 50%;
      max-width: 100px;
      max-height: 100px;
    }
  }
  .ltag__user__content {
    display: inline-block;
    vertical-align: top;
    padding: calc(0.9vw + 6px);
    padding-left: 2px;
    width: calc(100% - 8vw - 60px);
    h2 {
      margin: 0;
      padding: 0;
      font-weight: var(--fw-bold);
      display: flex;
      align-items: center;
      .follow-action-button {
        visibility: hidden;
        margin: 0.2em 0.5em;
        &.showing {
          visibility: visible;
        }
      }
    }
    .ltag__user__summary {
      margin: 0.3em 0;
      padding: 0;
      font-size: 0.87em;
      margin-bottom: 0;
      line-height: 1.2em;
      opacity: 0.85;
    }
    .ltag__user__taglist {
      margin: 1em 0px;
      padding: 0px;
      line-height: 1;
      font-size: 0.8em;
      opacity: 0.7;
      a {
        color: $black;
        margin-right: 1em;
        display: inline-block;
        height: 30px;
      }
      img {
        display: inline-block !important;
        width: 1em !important;
        height: 1em !important;
        margin-right: 2px;
        vertical-align: -0.1em;
        left: 0px;
      }
    }
  }
}

.crayons-article-sticky {
  .ltag__user {
    .ltag__user__pic {
      width: 60px;
      height: 60px;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .ltag__user__content {
      width: calc(100% - 65px);
      h2 {
        font-size: 1.4em;
        line-height: 1.42em;
        display: block;
        .ltag__user__link {
          width: 100%;
          display: block;
        }
        .follow-action-button {
          display: block;
          margin: 10px 0;
        }
      }
      h3 {
        margin-top: 4px !important;
      }
    }
  }
}
