<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "migdal_ogp" %>
    <style>
        *{
        margin: 0px;
        box-sizing: border-box;
        }
        body{
            position: relative;
            width: 1200px;
            height: 630px;
            /* background-color: blue; */
            font-family: "IBM Plex Sans", "IBM Plex Sans JP", sans-serif;
            font-weight: 500;
            color: #606060;
        }
        #box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 75px 72px 85px 72px;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
        #namebox{
            display: flex;
            align-items: center;
            height: 60px;
            /* background-color: aqua; */
            margin-bottom: 28px;
        }
            #icon{
                width: 60px;
                margin-right: 20px;
            }
                #icon img{
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    border-radius: 100%;
                }
            #name{
                font-size: 36px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        #mainbox{
            display: flex;
            flex-direction: column;
            height: 270px;
        }
            #title{
                font-size: 48px;
                line-height: 64px;
                /* background-color: chocolate; */
                margin-bottom: 12px;
            }
                #title p {
                    /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp */
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
            #tags{
                font-size: 28px;
                line-height: 36px;
                color: #808080;
                /* background-color: aqua; */
            }
                .tag{
                    display: inline-block;
                }
        #infobox{
            display: flex;
            height: 70px;
            /* background-color: gold; */
            margin-top: 20px;
            flex-wrap: wrap;
            gap: 50px;
        }
            #uploadbox, #langbox{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 70px;
                /* background-color: antiquewhite; */
            }
            #langbox{
                flex-grow: 1;
            }
            .ue{
                display: flex;
                align-items: center;
                height: 36px;
                font-size: 28px;
                font-family: "IBM Plex Sans JP", sans-serif; /* hack to ensure JP font loaded */
                /* background-color: blueviolet; */
            }
                .ue p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 655px;
                }
            .shita{
                display: flex;
                align-items: center;
                position: relative;
                height: 24px;
                /* background-color: chartreuse; */
                margin-left: 24px;
                padding-left: 4.5px;
                font-size: 21px;
                font-family: "IBM Plex Sans", sans-serif;
                font-weight: 450;
            }
                #uploadbox .shita::before{
                    position: absolute;
                    left: -24px;
                    /* top:-4.5px; */
                    display: inline-block;
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23606060'%3E%3Cpath d='M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z'/%3E%3C/svg%3E");
                    height: 24px;
                    width: 24px;
                }
                #langbox .shita::before{
                    position: absolute;
                    left: -24px;
                    /* top: -4.5px; */
                    display: inline-block;
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12.87 15.07l-2.54-2.51h0A17.52 17.52 0 0 0 14.07 6H17V4h-7V2H8v2H1v2h11.17A15.71 15.71 0 0 1 9 11.35 15.65 15.65 0 0 1 6.69 8h-2a17.56 17.56 0 0 0 3 4.56l-5.09 5L4 19l5-5 3.11 3.11zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2zm-2.62 7l1.62-4.33L19.12 17z' fill='%23606060'/%3E%3C/svg%3E");
                    height: 24px;
                    width: 24px;
                }
            #logo{
                display: flex;
                align-items: center;
                justify-self: flex-end;
            }
            #logo svg{
                width: 51.5734px;
                height: 49.9952px;
            }
        #bottom_colour{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20px;
            background-color: #8fc31f;
        }
    </style>
</head>
<body class="sans-serif-article-body">
    <div id="box">
        <div>
            <div id="namebox">
                <div id="icon"><img src="<%= @article.user.profile_image_url_for(length: 90) %>"></div>
                <div id="name"><%= @article.user.name %></div>
            </div>
            <div id="mainbox">
                <div id="title"><p class="with-content-font" lang="<%= @lang %>"><%= @article.title %></p></div>
                <div id="tags">
                    <% @article.tag_list.each do |tag| %>
                        <div class="tag">#<%= tag %></div>
                    <% end %>
                </div>
            </div>
        </div>
        <div id="infobox">
            <div id="uploadbox">
                <div class="ue"><%= @article.displayable_published_at.strftime("%Y.%m.%d %H:%M") %></div>
                <div class="shita">Uploaded</div>
            </div>
            <div id="langbox">
                <div class="ue"><p><%= lang_name @lang, locale: "en-US" %></p></div>
                <div class="shita">Language</div>
            </div>
            <div id="logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.57 50" fill="#8fc31f"><path d="M0 23.45a16.47 16.47 0 0 1 .89-5.7 10 10 0 0 1 2.55-3.93 10.47 10.47 0 0 1 4-2.27 18.11 18.11 0 0 1 5.38-.74 23.51 23.51 0 0 1 6 .74 22.19 22.19 0 0 1 5.1 2v22.8c0 4.36-1.12 7.71-3.36 10.08S15.23 50 11.27 50a37.32 37.32 0 0 1-5.59-.37 26.33 26.33 0 0 1-4.92-1.27l1-4.69a28.78 28.78 0 0 0 3.88.92 28.33 28.33 0 0 0 4.69.36c2.62 0 4.49-.71 5.63-2.14s1.71-3.55 1.71-6.37v-1.69q-2.45 3-7.65 3-5 0-7.52-3-2.52-3-2.5-9.53zM6.34 25a21.67 21.67 0 0 0 .23 3.31 6.71 6.71 0 0 0 .84 2.42 3.78 3.78 0 0 0 1.71 1.5 6.69 6.69 0 0 0 2.83.52 5.35 5.35 0 0 0 4.38-1.69q1.38-1.68 1.38-5.25v-9.07a6.86 6.86 0 0 0-2.24-.82 14.77 14.77 0 0 0-2.65-.25q-3.36 0-4.93 1.73c-1 1.15-1.56 3.09-1.56 5.8zm21.16-1.17a18.8 18.8 0 0 1 .81-5.83 11 11 0 0 1 2.29-4 9.29 9.29 0 0 1 3.55-2.34 13.08 13.08 0 0 1 4.51-.77 12.15 12.15 0 0 1 3.65.51 15.6 15.6 0 0 1 3 1.38V0h6.23v37.89h-5.39l-.4-2.81a7.26 7.26 0 0 1-1.15 1.2 9.12 9.12 0 0 1-1.6 1.1 9.39 9.39 0 0 1-2.3.81 13.7 13.7 0 0 1-3.06.31 11.26 11.26 0 0 1-4.69-.89A7.78 7.78 0 0 1 29.77 35 11 11 0 0 1 28 31a25.11 25.11 0 0 1-.53-5.4zm6.32 1.63a21.49 21.49 0 0 0 .25 3.54 7 7 0 0 0 .93 2.47A4.21 4.21 0 0 0 36.72 33a6.48 6.48 0 0 0 2.81.53 7 7 0 0 0 2.8-.48 4.24 4.24 0 0 0 1.79-1.4 5.78 5.78 0 0 0 1-2.22 13.21 13.21 0 0 0 .28-2.88v-9.5A12.3 12.3 0 0 0 42.88 16a9.3 9.3 0 0 0-2.67-.36q-3.42 0-4.9 1.89c-1 1.26-1.49 3.26-1.51 6z" /></svg></div>
        </div>
    </div>
    <div id="bottom_colour"></div>
</body>
</html>
