<div class="block m:hidden px-2">
  <select id="mobile_nav_dashboard" class="crayons-select">
    <option value="<%= dashboard_path %>" <%= "selected" if params[:action] == "show" && (params[:which] == "organization" || params[:which].blank?) %>><%= t("views.dashboard.actions.mobile.posts", num: @user.articles_count) %></option>
    <option value="<%= dashboard_path %>/user_followers" <%= "selected" if params[:action] == "followers" %>><%= t("views.dashboard.actions.mobile.followers", num: @user.followers_count) %></option>
    <option value="<%= dashboard_following_tags_path %>" <%= "selected" if params[:action] == "following_tags" %>><%= t("views.dashboard.actions.mobile.following_tags", num: @user.following_tags_count) %></option>
    <option value="<%= dashboard_following_users_path %>" <%= "selected" if params[:action] == "following_users" %>><%= t("views.dashboard.actions.mobile.following_users", num: @user.following_users_count) %></option>
    <option value="<%= dashboard_following_organizations_path %>" <%= "selected" if params[:action] == "following_organizations" %>><%= t("views.dashboard.actions.mobile.following_orgs", num: @user.following_organizations_count) %></option>
    <option value="<%= dashboard_following_podcasts_path %>" <%= "selected" if params[:action] == "following_podcasts" %>><%= t("views.dashboard.actions.mobile.following_pods", num: @user.following_podcasts_count) %></option>

    <option value="<%= listings_dashboard_path %>"><%= t("views.dashboard.actions.listings") %></option>

    <option value="<%= dashboard_analytics_path %>"><%= t("views.dashboard.actions.analytics") %></option>

    <% if @organizations && (params[:which].blank? || params[:which] == "organization") %>
      <% @organizations.each do |org| %>
        <option value="<%= dashboard_analytics_org_path(org.id) %>"><%= t("views.dashboard.actions.for_org", org: org.name) %></option>
      <% end %>
    <% end %>

    <% if policy(:video).new? %>
      <option value="<%= new_video_path %>"><%= t("views.dashboard.actions.upload") %></option>
    <% end %>
  </select>
</div>
