// used by /app/views/social_previews/articles/migdal_ogp.html.erb
@import 'mixins';

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 450;
  @include font-src('IBMPlexSans-Text.woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  @include font-src('IBMPlexSans-Medium.woff2');
}
@font-face {
  font-family: 'IBM Plex Sans JP';
  font-style: normal;
  font-weight: 500;
  @include font-src('IBMPlexSansJP-Medium.woff2');
}

// import styles to render custom fonts
@import 'base/typography';
@import 'config/locales';
