<% _t = "v.feedback" %>
<% title t("meta.title", scope: _t) %>
<% cache(release_adjusted_cache_key("feedback-messages-lander-styling")) do %>
  <style>
    <%= Rails.application.assets["feedback_messages.css"].to_s.html_safe %>
  </style>
<% end %>
<div class="dialog">
  <div>
    <h2><%= t("heading", scope: _t) %></h2>
    <h3><a href="/"><%= t("home", scope: _t) %></a></h3>
    <p>
      <%= t("contact_prompts.if_any_questions_html") %>
    </p>
  </div>
</div>
